/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}




body {
background-color: aqua;	
	
}


#shape1 {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: box1;
  animation-duration: 4s;
}

@keyframes box1 {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}


#shape2 {
  width: 100px;
  height: 100px;
  background-color: red; 
 position: relative;
  animation-name: box2;
  animation-duration: 4s;
}

@keyframes box2 {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

#shape3 {
  width: 100px;
  height: 100px;
  background-color: red; 
 position: relative;
  animation-name: box3;
  animation-duration: 4s;
animation-delay: 2s;
    animation-iteration-count: infinite;
}

@keyframes box3 {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}



#shape4 {
  width: 100px;
  height: 100px;
  background-color: red; 
 position: relative;
  animation-name: box4;
  animation-duration: 4s;
animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

@keyframes box4 {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}


#shape5 {
    

}

#shape6 {


}
.circle {
    background-color: orange;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    
}



